<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Qwonze The Weeb</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div id="Qcontainer">
        <div id="Qheader">
            <h1>QQwonze's QHomepage!</h1>
        </div>
        <div id="Qmenu">
            @Html.ActionLink("Index", "Home")
            @Html.ActionLink("Me Blog", "Blog")
        </div>
        <div id="Qcontent">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        Copyright&copy; 2016 | Reyth -- All Rights Reserved.
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>